<div class="chat-header">
  <div class="group-name">
    <div>hogefuga</div>
  </div>
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <p class="user-name">Tom</p>
    <p class="deta">2020/3/31(Wed) 12:43:30</p>
  </div>
  <div class="text">
    <p>おはよう</p>
  </div>
  <div class="message">
    <p class="user-name">Tom</p>
    <p class="deta">2020/3/31(Wed) 11:59:16</p>
  </div>
  <div class="text">
    <p>こんばんは</p>
  </div>
</div>

<div class="form">
  <div class="form-message">
    <input type="text" placeholder="type a message" class="input">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit">
</div>